

@media (max-width:1180px){
    .img-svg-container-500{
        flex-direction: column;
    }
    .img-svg-image-uploader-500{
        width: auto !important;
        height: auto !important;
    }
    .image-svg-converter-500{
        width: auto !important;
        margin-top: 20px !important;
        
    }
    .image-svg-converter-svgImage-500{
        width: auto !important;
        padding-top:0 !important;
        margin-top: 0 !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .image-svg-converter-svgImage-height-500{
margin-top: 0 !important;
    }


    .image-svg-converter-500-object{
        height: 38vh;

    }
    
}